@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap");

:root {
	--error: rgb(255, 0, 0);
	--focus-border: rgb(0, 51, 204);
	--focus-bg: rgb(255, 255, 153, 0.3);
	--highlight: rgb(249, 236, 242, 0.5);
	--pane: rgb(217, 242, 230, 0.5);
	--bg: #f3cfc6;
	--txt: black;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: var(--txt);
	font-family: "Pixelify Sans";
}

.container {
	height: 100vh;
	display: flex;
}

.left-panel {
	width: 67vw;
	font-size: 20px;
}

.left-panel > * {
	padding: 1rem 10vw;
}
.header {
	margin-top: 6vh;
	max-width: 70ch;
}

.sign-on {
	margin-top: 1rem;
	background-color: var(--highlight);
}

.sign-on > p {
	margin-bottom: 1rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	font-size: 13px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	gap: 1rem;
	margin: 0.5rem 0;
	flex-wrap: wrap;
}

input {
	appearance: none;
	outline: none;
}

input:focus {
	background-color: var(--focus-bg);
	border: 2px solid var(--focus-border);
	border-radius: 6px;
}

.invalid:focus {
	border: 2px solid var(--error);
	border-radius: 6px;
}

.sign-up {
	margin-top: 1rem;
}

.sign-up > button {
	padding: 0.25rem 1rem;
	margin-bottom: 0.5rem;
	font-size: 16px;
}

.right-panel {
	display: flex;
	position: relative;
}

.color-pane {
	width: 33vw;
	background-color: var(--bg);
}

.banner {
	margin-top: 15vh;
	padding: 0.1em 0;
	background-color: var(--pane);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.title {
	text-align: center;
	font-size: 72px;
    font-weight: 700;
}

.icon {
    position: relative;
    top: 6px;
    width: 50px;
    height: 50px;
    background-image: url("./images/icon.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.art {
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(./images/kitty.svg);
	background-size: cover;
	height: 0;
	width: 110%;
	padding-bottom: 100%;
}
